@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@100;400;500;700&display=swap");

@import "utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

.header {
  width: 100%;
  height: 88vh;
  background: linear-gradient(292deg, #62bada -35.02%, #c9e7f2 78.96%);
  position: relative;

  .nav {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;

    position: relative;

    &_title {
      color: #000;
      font-family: Gilroy;
      font-size: 1rem;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      text-transform: uppercase;
    }

    &_list {
      ul {
        display: flex;
      }
      li {
        list-style-type: none;
      }
      a {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0.5rem;
      }
    }
    &_buttons_right {
      a {
        text-decoration: none;
        margin: 0.5rem;
        color: #fff;
        border-radius: 1px solid #4f46ba;
      }
    }
  }
  .nav_body {
    &_row {
      display: flex;

      .nav_body_left_col {
        .nav_body_left_sec_2 {
          display: flex;
          align-items: center;

          a {
            color: #fff;
            text-decoration: none;
            border-radius: 47px;
            background-color: #3734a9;
            margin-right: 3rem;
            padding: 0.8rem 1.5rem;
          }
          p {
            display: flex;
            align-items: center;
            color: #3734a9;

            svg {
              margin-right: 1rem;
              font-size: 17px;
            }
          }
        }
      }
    }
    &_left_col {
      padding-left: 140px;
      padding-top: 60px;

      h2 {
        color: #000;
        font-family: Manrope;
        font-size: 60px;
        font-style: normal;
        font-weight: 800;
        line-height: 60px; /* 133.333% */
        letter-spacing: -1.8px;
      }

      p {
        color: #64607d;
        font-size: 20px;
        font-style: normal;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: 500;
        line-height: 30px; /* 150% */
      }
      .nav_body_left_sec_3 {
        display: flex;
        padding-left: 1rem;

        .sec-1 {
          p {
            color: #757095;
            font-family: Manrope;
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px; /* 176.471% */
            letter-spacing: -0.34px;
            margin-right: 1rem;
          }
        }
        .sec_2 {
          p {
            color: #757095;
            font-family: Manrope;
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px; /* 176.471% */
            letter-spacing: -0.34px;
          }
        }
      }
    }

    &_left_sec_2 {
      display: flex;
    }
    &_right_col {
      &_img {
        position: relative;
      }
    }
  }
  // .nav_body_right_col{
  //   position: absolute;

  //   &_img_right{
  //     position: absolute;
  //     top: 0;
  //   }

  //   &_img_left{
  //     position: absolute;
  //     top: 0;
  //   }
  // }
}
