@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@100;400;500;700&display=swap");

@import "utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

.header {
  width: 100%;
  height: 88vh;
  background: linear-gradient(292deg, #62bada -35.02%, #c9e7f2 78.96%);
  position: relative;

  .nav {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;

    position: relative;

    &_title {
      color: #000;
      font-family: Gilroy;
      font-size: 1rem;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      text-transform: uppercase;
    }

    &_list {
      ul {
        display: flex;
      }
      li {
        list-style-type: none;
      }
      a {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0.5rem;
      }
    }
    &_buttons_right {
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        margin: 0.5rem;
        color: #000;
        border-radius: 1px solid #4f46ba;
      }
      &_bt {
        a {
          color: #fff;
        }
        background-color: #4f46ba;
        padding: 0.5rem 0.7rem;
      }
    }
  }
  .nav_body {
    &_row {
      display: flex;

      .nav_body_left_col {
        .nav_body_left_sec_2 {
          display: flex;
          align-items: center;

          a {
            color: #fff;
            text-decoration: none;
            border-radius: 47px;
            background-color: #3734a9;
            margin-right: 3rem;
            padding: 0.8rem 1.5rem;
          }
          p {
            display: flex;
            align-items: center;
            color: #3734a9;

            svg {
              margin-right: 1rem;
              font-size: 17px;
            }
          }
        }
      }
    }
    &_left_col {
      padding-left: 140px;
      padding-top: 60px;

      h2 {
        color: #000;
        font-family: Manrope;
        font-size: 60px;
        font-style: normal;
        font-weight: 800;
        line-height: 60px; /* 133.333% */
        letter-spacing: -1.8px;
      }

      p {
        color: #64607d;
        font-size: 20px;
        font-style: normal;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: 500;
        line-height: 30px; /* 150% */
      }
      .nav_body_left_sec_3 {
        display: flex;
        padding-left: 1rem;

        .sec-1 {
          p {
            color: #757095;
            font-family: Manrope;
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px; /* 176.471% */
            letter-spacing: -0.34px;
            margin-right: 1rem;
          }
        }
        .sec_2 {
          p {
            color: #757095;
            font-family: Manrope;
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px; /* 176.471% */
            letter-spacing: -0.34px;
          }
        }
      }
    }

    &_left_sec_2 {
      display: flex;
    }
    &_right_col {
      &_img {
        position: relative;
      }
    }
  }
  // .nav_body_right_col{
  //   position: absolute;

  //   &_img_right{
  //     position: absolute;
  //     top: 0;
  //   }

  //   &_img_left{
  //     position: absolute;
  //     top: 0;
  //   }
  // }
}

.brand_section {
  width: 100%;
  height: 25vh;
  background: #f5f6f8;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .brand_img {
    display: flex;
    align-items: center;
    img {
      padding: 1rem;
    }
  }
}

.hero_section1 {
  display: flex;
  position: relative;
  width: 100%;
  height: 50vh;

  .left {
    width: 646px;
    height: 209px;
    flex-shrink: 0;
    margin: 0 10rem;
    padding-top: 3rem;

    &_1 {
      color: #000;
      font-family: Manrope;
      font-size: 56px;
      font-style: normal;
      font-weight: 800;
      line-height: 66px; /* 117.857% */
      letter-spacing: -1.68px;
    }
    &_2 {
      color: #000;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 25px; /* 181.25% */
      letter-spacing: -0.32px;
      margin-top: 1rem;
    }
  }

  .right {
    .box {
      position: absolute;
      top: 50px;
      left: 700px;
      width: 402px;
      height: 177px;
      border-radius: 20px;
      background: #e0dcdc;
      padding: 5rem;

      img {
        position: absolute;
        top: -25px;
        left: 3rem;
        z-index: 5;
        color: #000;
      }
      p {
        color: #000;
        position: absolute;
        top: 50px;
        left: 2rem;
      }
    }
  }
}

.features_box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 60vh;
  position: relative;
  padding-top: 2rem;

  &_1,
  &_2,
  &_3 {
    width: 280px;
    height: 290px;
    border-radius: 20px;
    border: 1px solid #dbe4e9;
    background: #fff;

    span {
      color: #000;
      font-family: Manrope;
      font-size: 22px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      padding: 1rem;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 3rem;

      img {
        width: 50px;
        height: 45px;
        margin-bottom: 1rem;
      }

      h3 {
        color: #000;
        text-align: center;
        font-family: Manrope;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: 34px; /* 113.333% */
        letter-spacing: 0.1px;
      }

      p {
        color: #757095;
        text-align: center;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: -0.28px;
        margin-top: 1rem;
      }
    }
  }
}

.features_box2 {
  display: flex;
  width: 100%;
  height: 78vh;
  position: relative;

  .right {
    margin: 3rem 10rem;
    background: #4f46ba;
    width: 531px;
    height: 435px;
    border-radius: 20px;
    background: #dcf3fc;
    display: flex;
    align-items: center;
    position: relative;

    .box1 {
      width: 433px;
      height: 85px;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.01),
        0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01),
        0px 20px 13px 0px rgba(0, 0, 0, 0.01),
        0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.02),
        0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02),
        0px 100px 80px 0px rgba(0, 0, 0, 0.03);
      position: absolute;
      top: 2rem;
      right: 3rem;
      display: flex;
      align-items: center;

      img {
        display: flex;
        width: 50px;
        margin-left: 3rem;
        margin-right: 1rem;
      }
      .explain {
        display: flex;
        flex-direction: column;

        .title {
          color: #fff;
          width: 100px;
          padding: 0.3rem 0.5rem;
          align-items: center;
          margin-bottom: 0.3rem;
          border-radius: 30px;
          background: #3734a9;
        }
        .des {
          color: #757095;
          font-family: Manrope;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 30px; /* 214.286% */
          letter-spacing: -0.28px;
        }
      }
    }
    .box2 {
      width: 433px;
      height: 85px;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.01),
        0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01),
        0px 20px 13px 0px rgba(0, 0, 0, 0.01),
        0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.02),
        0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02),
        0px 100px 80px 0px rgba(0, 0, 0, 0.03);
      position: absolute;
      top: 8rem;
      right: -4rem;
      display: flex;
      align-items: center;

      img {
        display: flex;
        width: 50px;
        margin-left: 3rem;
        margin-right: 1rem;
      }
      .explain {
        display: flex;
        flex-direction: column;

        .title {
          color: #fff;
          width: 100px;
          padding: 0.3rem 0.5rem;
          align-items: center;
          margin-bottom: 0.3rem;
          border-radius: 30px;
          background: #3734a9;
        }
        .des {
          color: #757095;
          font-family: Manrope;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 30px; /* 214.286% */
          letter-spacing: -0.28px;
        }
      }
    }
    .box3 {
      width: 433px;
      height: 85px;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.01),
        0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01),
        0px 20px 13px 0px rgba(0, 0, 0, 0.01),
        0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.02),
        0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02),
        0px 100px 80px 0px rgba(0, 0, 0, 0.03);
      position: absolute;
      top: 14rem;
      right: -1rem;
      display: flex;
      align-items: center;

      img {
        display: flex;
        width: 50px;
        margin-left: 3rem;
        margin-right: 1rem;
      }
      .explain {
        display: flex;
        flex-direction: column;

        .title {
          color: #fff;
          width: 100px;
          padding: 0.3rem 0.5rem;
          align-items: center;
          margin-bottom: 0.3rem;
          border-radius: 30px;
          background: #3734a9;
        }
        .des {
          color: #757095;
          font-family: Manrope;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 30px; /* 214.286% */
          letter-spacing: -0.28px;
        }
      }
    }
    .box4 {
      width: 433px;
      height: 85px;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.01),
        0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01),
        0px 20px 13px 0px rgba(0, 0, 0, 0.01),
        0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.02),
        0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02),
        0px 100px 80px 0px rgba(0, 0, 0, 0.03);
      position: absolute;
      top: 20rem;
      right: 2rem;
      display: flex;
      align-items: center;

      img {
        display: flex;
        width: 50px;
        margin-left: 3rem;
        margin-right: 1rem;
      }
      .explain {
        display: flex;
        flex-direction: column;

        .title {
          color: #fff;
          width: 100px;
          padding: 0.3rem 0.5rem;
          align-items: center;
          margin-bottom: 0.3rem;
          border-radius: 30px;
          background: #3734a9;
        }
        .des {
          color: #757095;
          font-family: Manrope;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 30px; /* 214.286% */
          letter-spacing: -0.28px;
        }
      }
    }
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      color: #3734a9;
      font-family: Manrope;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
    .title {
      color: #000;
      font-family: Manrope;
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
      margin: 0.7rem 0;
      line-height: 50px; /* 120% */
      letter-spacing: -1.5px;
    }
    .des {
      color: #505887;
      font-family: Manrope;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      margin-bottom: 0.8rem;
      line-height: 25px; /* 166.667% */
      letter-spacing: -0.36px;
    }

    .bottom_line {
      width: 450px;
      height: 2px;
      background: #c4c4c4;
      margin-bottom: 0.8rem;
    }
    .sub {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #505887;
      font-family: Manrope;
      font-size: 19px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px; /* 157.895% */
      letter-spacing: -0.38px;

      p {
        display: flex;
        align-items: center;

        svg {
          margin-right: 0.7rem;
        }
      }
    }
  }
}

.features_box3 {
  display: flex;
  width: 100%;
  height: 78vh;
  position: relative;
  .left {
    display: flex;
    width: 50%;
    // background-color: #000;
    flex-direction: column;
    justify-content: center;
    margin-left: 9rem;
    margin-top: -10rem;

    span {
      color: #3734a9;
      font-family: Manrope;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
    .title {
      color: #000;
      font-family: Manrope;
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
      margin: 0.7rem 0;
      line-height: 50px; /* 120% */
      letter-spacing: -1.5px;
    }
    .des {
      color: #505887;
      font-family: Manrope;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      margin-bottom: 0.8rem;
      line-height: 25px; /* 166.667% */
      letter-spacing: -0.36px;
    }
    .box {
      position: absolute;
      top: 60%;
      left: 16%;
      width: 402px;
      height: 177px;
      border-radius: 20px;
      background: #e0dcdc;
      padding: 5rem;

      img {
        position: absolute;
        top: -25px;
        left: 3rem;
        z-index: 5;
        color: #000;
      }
      p {
        color: #000;
        position: absolute;
        top: 50px;
        left: 2rem;
      }
    }
  }
  .right {
    width: 50%;
    position: relative;
    .box {
      width: 60%;
      height: 88%;
      border-radius: 10px;
      background: #dbf1fa;
      position: relative;
      top: 9%;
      left: 12%;

      .bg_img {
        img {
          position: absolute;
          width: 309px;
          height: 511px;
          top: -18%;
        }
      }

      .chart_img {
        position: relative;

        img {
          margin-top: 41%;
          margin-left: -34%;
          border-radius: 10px;
        }
      }
    }
  }
}
